@import '../../../assets/mixins.scss';

.login {
    background-color: white;
    margin-top: -50px;
    border-radius: 40px 0 0 0;
    min-height: 60vh;
    padding:0 20px;
    &__primary {
        text-align: center;
    }
    &__form {
        margin-top: 20px;
        &-group {
            text-align: center;
            margin: auto;
            width: 300px;
        }
        &-button {           
            text-align: center;
            margin: auto;
            width: 300px;
            .mat-raised-button{
                margin-top: 20px;
                border-radius: 50px;
                width: 100px;
                background-color: #001b30;
                color: white;
            }
        }
    }
    &__footer{
        margin-top: 20px;
        text-align: center;
    }
    p,h1{
        margin: 5px 0;
    }
}
.form__group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 650px;
    margin: auto;
    @include respond(tab-port) {
        flex-direction: column;
    }
}

