.heading {
    margin-top: 5px;
}

.layout {
    margin: 20px;
    padding: 20px 50px;

}

.table-img{
    height: 30px;
    width:30px;
    border-radius: 50%;;
}

.tag{
    border: 1px solid #eee;
    border-radius: 25px;
    padding: 5px 15px;
    margin-right: 5px;
}